.container{
    width: 50%;
    margin: auto;
}
.container2{
    width: 70%;
    margin: auto;
}
p{
    text-align: justify;
}
.mode_nuit{
    color: white;
    background-color: black;
}
#reponse{
    color: green;
}